<nav class="navbar navbar-expand-xl navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav  mb-lg-0">
                <li class="nav-item"><a href="#" class="nav-link active">Recipes</a></li>
                <li class="nav-item"><a href="#" class="nav-link active">Shopping List</a></li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="dropdown-item">Save Data</a></li>
                        <li><a href="#" class="dropdown-item">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>